/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Style the body */
body {
  background: linear-gradient(to bottom, #a8d9e6, #da95e8);
  /* Followed W3 Schools Gradient Background Tutorial: 
  https://www.w3schools.com/css/css3_gradients.asp */
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the piano to use flex box */
.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);  
  width: var(--width);             
}

.white {
  --width: 100px;  
  background-color: white;
  border: 1px solid #333;
  /* Changed the border thickness from 1 px to 3 px (personal pref) */
}
/* test */
.black {
  --width: 60px;   
  background-color: black;
  margin-left: calc(var(--width) / -2);   
  margin-right: calc(var(--width) / -2);  
  z-index: 2;
}

.white.active {
  background-color: #d4e9ef;
  /* changed response color to bluer to match with bg */
}

.black.active {
  background-color: #2f2533;
  /* changed response color to purple for aesthetic purposes */
}
